.users_list {
    padding: 40px 20px 20px 20px;
}

.user_item {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-bottom: 30px;
}

.avatar_wrapper {
    display: block;
}

.user_item__avatar {
    display: block;
    margin: 0 auto;
    width: 65px;
    height: auto;
    border-radius: 10px;
}

.user_item__follow_btn {
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 65px;

    background-color: #1640b3;
    color: #fff;
    cursor: pointer;
}

.user_item__follow_btn:hover {
    background-color: #2d5fe7;
}

.user_item__unfollow_btn {
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 65px;

    background-color: #ac0025;
    color: #fff;
    cursor: pointer;
}

.user_item__unfollow_btn:hover {
    background-color: #dd1212;
}

.user_item__follow_btn:disabled, .user_item__unfollow_btn:disabled {
    background-color: #999ead;
}

.user_item__right {
    display: grid;
    grid-template-columns: 10fr 2fr;
    padding: 0 20px;
    border-radius: 10px;

    background-color: #dce1e9;
}

.user_item__name_and_status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_item__name_and_status a {
   text-decoration: none;
   color: #113872;
}

.user_item__user_fullname {
   margin: 20px 0 0;

    font-size: 18px;
    font-weight: 500;
}

.user_item__user_status {
   width: fit-content;
   padding: 10px 20px;
   border-radius: 20px;

    font-size: 14px;
    background-color: #bbd6ff;
}

.user_item__location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_item__location p {
    margin: 0;
    margin-bottom: 10px;

    text-align: right;
    font-weight: 500;
}

.users__show_more {
    display: block;
    margin: 0px auto 30px;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;

    background-color: #1640b3;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.users__pagination {
    margin: 30px auto 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.users__pagination_item {
    display: block;
    margin: 0 10px;

    cursor: pointer;
}

.users__pagination_item:hover {
    color: #ff650b;
}

.users__pagination_item.active {
    font-weight: 700;
    font-size: 20px;
    color: #ff650b;
}

