.header {
    box-sizing: border-box;
    grid-area: header;
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;

    background-color:#4489f0;
    color: #fff;
    border-radius: 20px;
}

.header_logo {
    grid-area: logo;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.header_logo h2 {
   margin: auto;
   padding-left: 20px;
   display: block;
}

.header_auth {
    display: flex;
    margin-right: 10px;
}

.header_auth__avatar {
    display: block;
    height: 100%;
    padding-right: 10px;
}

.header_auth__avatar img {
    margin-top: 50%;
    max-height: 50%;
    border-radius: 10%;
}

.header_auth__username {
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    text-align: right;
}

.header_auth__username a {
    color: #fff;
    text-decoration: none;
}

.header_auth__username p {
    margin: 0;
}