.nav {
   grid-area: nav;
   border-bottom-left-radius: 20px;
   padding: 0px 15px 20px;
   margin-left: 0;

   background-color: #4489f0;
   color: #fff;
   font-size: 20px;
   line-height: 1.8;
}

.nav ul {
   padding: 0;
}

.nav_li_item {
   list-style-type: none;
   padding-left: 10px;
   margin: 0;
}

.nav_li_item:last-child {
   border-bottom: #fff 1px solid;
   padding-bottom: 20px;
}

.nav_item {
   color: #fff;
   text-decoration: none;
}

.nav_item.active {
   font-weight: 700;
   color: #ffac3e;
}

.nav h3 {
   margin: 0;

   font-size: 15px;
   font-weight: 500;
}

.latest_registered_wrapper {
   position: relative;
}

.nav_latest_users {
   justify-content: space-between;
   width: 100%;
   margin: 0;
   padding: 10px;

   list-style: none;
}


.nav_latest_user_item {
   display: flex;
   margin: 10px 0px;

   font-size: 14px;
   text-align: center;
   color: #fff;
   text-decoration: none;
}

.nav_latest_user_avatar img {
   margin: 0 auto;
   display: block;
   width: 40px;

   border-radius: 5px;
}

.nav_latest_user_name {
   display: flex;
   align-items: center;
   margin-left: 10px;
}