.login_page {
   width: max-content;
   margin: 0 auto;
}

.login_input {
   width: 200px;
   margin-bottom: 10px;
}

.common_error {
   color: red;
}

.login_btn_div {
   margin-top: 10px;
}

.login_btn_div button {
   width: 100%;
   padding: 6px 15px;

   font-size: 15px;
}