.app_wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;

    grid-template-areas: 
    "header header header"
    "nav content content";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;
}

.app_wrapper_content {
    position: relative;
    grid-area: content;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;

    background-color:#bbd6ff;
}
